<%= @applicant.name %>'s Info
<% @applicant.attributes.keys.each do |attribute|%>
  <div>
    <% if attribute == "manager_id"%>
      <%="Manager"%>: <%= @manager.name%>
    <% elsif attribute == "mentor_id"%>
      <%="Mentor"%>: <%= @mentor.name%>
    <% else %>
      <%=attribute%>: <%=@applicant[attribute]%>
    <% end %>
  </div>
<%end%>
<a href="<%=@applicant.id%>/edit">Edit Applicant</a>
<a href="/applicants">Back to Applicant Index</a>

<%= render @manager %>
<%= render @mentor %>
