<p style="color: green"><%= notice %></p>

<%= render @manager %>

<div>
  <%= link_to "Edit this manager", edit_manager_path(@manager) %> |
  <%= link_to "Back to managers", managers_path %>

  <%= button_to "Destroy this manager", @manager, method: :delete %>
</div>

<% @applicants = Applicant.where(manager_id: params["id"].to_i)%>

<h1>Applicants managed by <%= @manager.name %></h1>
<%= render "applicants/applicants" %>
